@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  --font-display: "Poppins", "sans-serif";
  --font-links: "Nunito", "sans-serif";

  --red-active: #ff5a3c;
  --secondary: #5c727d;
  --dark-blue: #0a2c3d;

  --text-30: 30px;
  --text-heading: clamp(28px, 5vw, 60px);
}

body {
  font-family: var(--font-display);
  padding: 0;
  margin: 0;
}

@layer utilities {
  .container {
    @apply max-w-[1200px] mx-auto;
  }
}
